streamlit
python-dotenv
PyPDF2
langchain
langchain-community
faiss-cpu
openai
tiktoken
torch
transformers


# To install all dependencies
# pip install -r requirements.txt
# to run streamlit run app1.py